{% extends 'base.html' %}

{% block head %}
<!-- Widget JavaScript bundle -->
<script src="https://cloud.google.com/ai/gen-app-builder/client?hl=en_US"></script>
<link rel="stylesheet" href="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css">
<script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>
<style>
    df-messenger {
      z-index: 999;
      position: fixed;
      bottom: 16px;
      right: 16px;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-5">
        <h1>AI Help Desk</h1>
        <a href="#" class="btn btn-primary btn-lg px-4" id="searchWidgetTrigger">검색 시작하기</a>
        <hr class="mt-3"/>
    </div>

    <gen-search-widget
        configId="{{user_info.widget_id}}"
        triggerId="searchWidgetTrigger">
    </gen-search-widget>

    <df-messenger
            oauth-client-id="{{oauth-client-id}}"
            project-id="{{project-id}}"
            agent-id="{{agent-id}}"
            language-code="en"
            max-query-length="-1">
        <df-messenger-chat-bubble
            chat-title="manual_agent">
        </df-messenger-chat-bubble>
    </df-messenger>
</div>
{% endblock %}